@model SocialMediaLinksOptions

<div class="buttons-container">
	<div class="button">
		<a href="@Model.Facebook">Facebook</a>
	</div>
	<div class="button">
		<a href="@Model.Youtube">Youtube</a>
	</div>
	<div class="button">
		<a href="@Model.Twitter">Twitter</a>
	</div>
	<environment exclude="Development">
		<div class="button">
			<a href="@Model.Facebook">Facebook</a>
		</div>
	</environment>
</div>